<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Male-Fashion</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" href="/img/logo-3.png">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__option">
			<div class="offcanvas__links">
				 <a
					style="color: white;">Nguyễn Xuân Đức</a> <a href="/signout">Đăng xuất</a><a href="#">FAQs</a>
							
					
			</div>
			<div class="offcanvas__top__hover">
				<span>Đô La <i class="arrow_carrot-down"></i></span>
				<ul>
					<li>USD</li>
					<li>EUR</li>
					<li>USD</li>
				</ul>
			</div>
		</div>
		
		<div class="offcanvas__nav__option">
			<a href="#" class="search-switch"><img src="img/icon/search.png"
				alt=""></a> <a href="#"><img src="img/icon/heart.png" alt=""></a>
			<a href="/cart"><img src="img/icon/cart.png" alt="">
				<span>2</span></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="offcanvas__text">
			<p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
		</div>
	</div>
	<!-- Offcanvas Menu End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
					
						<div class="header__top__right">
						
							<div class="header__top__links">
							
								 <a style="color: white;">Nguyễn Xuân Đức</a> <a
									href="/signout">Đăng xuất
									</a><a href="#">FAQs</a>
							</div>
							
							<div class="header__top__hover">
								<span>Đô La <i class="arrow_carrot-down"></i></span>
								<ul>
									<li>USD</li>
									<li>EUR</li>
									<li>USD</li>
								</ul>									
							</div>
							
							<a href="/home">ENG |</a>
							<a href="/home1">VNI</a>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a href="/home"><img src="img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li class="active"><a href="/home">Trang Chủ</a></li>
							
							<li><a href="/shop">Cửa Hàng</a></li>
							<li><a href="#">Trang</a>
								<ul class="dropdown">
									<li><a href="/cart">Giỏ Hàng</a></li>
									<li><a href="/myprofile">Thông tin các nhân</a></li>
									<li><a href="/myhistory">Lịch sử </a></li>
									<li><a href="/about">Thông tin về shop</a></li>
								</ul></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/contact">Liên Hệ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img
							src="img/icon/search.png" alt=""></a> <a href="#"><img
							src="img/icon/heart.png" alt=""></a> <a href="/cart"><img
							src="img/icon/cart.png" alt=""> <span>2</span></a>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>

	<!-- Product Section Begin -->
	
	

	
	
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="filter__controls">
						<!-- <li  data-filter="*">Special</li> -->
						<li class="active" data-filter=".new-arrivals">Sản Phẩm Mới</li>
						<li data-filter=".hot-sales">Bán Chạy Nhất</li>
					</ul>
				</div>
			</div>
			<div class="row product__filter">
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680705818/80865280_001_b_kfan9h.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/14"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Standard Cloth Striped Mesh Basketball Short</h6>
								<a href="/addToCart/14" class="add-cart">+
									Thêm vào giỏ hàng</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>180,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680705958/79978565_001_b_q0jo3j.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/15"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Standard Cloth Oliver 2.0 3&quot; Nylon Short</h6>
								<a href="/addToCart/15" class="add-cart">+
									Thêm vào giỏ hàng</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>100,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706090/79727277_054_b_upqujt.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/16"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Vans Primary Solid Elastic Swim Short</h6>
								<a href="/addToCart/16" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>370,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706203/81419822_001_b_hvgj54.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/17"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Champion UO Exclusive Nylon Balloon Pant</h6>
								<a href="/addToCart/17" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>910,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706321/81844144_040_b_xsleug.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/18"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Dark Seas Hitch Stretch Swim Short</h6>
								<a href="/addToCart/18" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>200,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706565/76130350_083_b_gqomij.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/19"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Levi’s® Contrast Stitch Skate Overall</h6>
								<a href="/addToCart/19" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>750,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706874/fashionstore/66047960_432_b_g3rxzr.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/20"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse Chuck 70 High Top Sneaker</h6>
								<a href="/addToCart/20" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>720,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707303/fashionstore/78786068_001_b_sliqhq.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/21"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>New Balance 2002R Protection Pack Sneaker</h6>
								<a href="/addToCart/21" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>520,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707382/fashionstore/53378626_001_b_x9wdwg.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/22"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse Chuck 70 Core High Top Sneaker</h6>
								<a href="/addToCart/22" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>520,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707460/fashionstore/78890258_013_b_dgt665.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/23"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Dr. Martens Jorge II Clog</h6>
								<a href="/addToCart/23" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>370,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707528/fashionstore/79287058_039_b_d1c61y.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/24"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse Chuck 70 Craft Mix High Top Sneaker</h6>
								<a href="/addToCart/24" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>120,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales"
						style="display: none;">
						<div class="product__item sale">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707604/fashionstore/78590411_004_b_f9ciow.webp">
								<span class="label">Hot</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/25"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>HOKA ONE ONE® Ora Recovery 3 Slide Sandal</h6>
								<a href="/addToCart/25" class="add-cart">+
									Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>510,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-7"> <input type="radio" id="pc-7">
									</label> <label class="active black" for="pc-8"> <input
										type="radio" id="pc-8">
									</label> <label class="grey" for="pc-9"> <input type="radio"
										id="pc-9">
									</label>
								</div>
							</div>
						</div>
					</div>
				
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680708708/fashionstore/78626413_016_b_fmcrrm.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/33"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Champion Garment Washed Relaxed Bucket Hat</h6>
								<a href="/addToCart/33"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>100,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706874/fashionstore/66047960_432_b_g3rxzr.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/20"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse Chuck 70 High Top Sneaker</h6>
								<a href="/addToCart/20"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>720,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680705818/80865280_001_b_kfan9h.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/14"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Standard Cloth Striped Mesh Basketball Short</h6>
								<a href="/addToCart/14"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>180,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680705958/79978565_001_b_q0jo3j.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/15"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Standard Cloth Oliver 2.0 3&quot; Nylon Short</h6>
								<a href="/addToCart/15"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>100,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707528/fashionstore/79287058_039_b_d1c61y.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/24"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse Chuck 70 Craft Mix High Top Sneaker</h6>
								<a href="/addToCart/24"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>120,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707713/fashionstore/79139705_029_b_zbieok.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/26"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse X Beyond Retro Chuck 70 Low Top Sneaker</h6>
								<a href="/addToCart/26"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>820,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680708880/fashionstore/80152333_080_b_pflgch.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/34"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>New Era San Francisco Giants Pinstripe Baseball Hat</h6>
								<a href="/addToCart/34"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>190,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680706090/79727277_054_b_upqujt.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/16"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Vans Primary Solid Elastic Swim Short</h6>
								<a href="/addToCart/16"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>370,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707303/fashionstore/78786068_001_b_sliqhq.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/21"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>New Balance 2002R Protection Pack Sneaker</h6>
								<a href="/addToCart/21"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>520,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707382/fashionstore/53378626_001_b_x9wdwg.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/22"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Converse Chuck 70 Core High Top Sneaker</h6>
								<a href="/addToCart/22"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>520,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680709607/fashionstore/83031484_027_b_at1eyd.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/41"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Urban Renewal Vintage Hell Yeah Sunglasses</h6>
								<a href="/addToCart/41"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>230,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
					<div
						class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://res.cloudinary.com/drlroexjl/image/upload/v1680707604/fashionstore/78590411_004_b_f9ciow.webp">
								<span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="/productDetail/25"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>HOKA ONE ONE® Ora Recovery 3 Slide Sandal</h6>
								<a href="/addToCart/25"
									style="cursor: pointer;" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>510,000 VNĐ</h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Categories Section Begin -->
	<section class="categories spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="categories__text">
						<h2>
							Clothings Hot <br /> <span>Shoe Collection</span> <br />
							Accessories
						</h2>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="categories__hot__deal">
						<img src="img/product-sale.png" alt="">
						<div class="hot__deal__sticker">
							<span>Sale Of</span>
							<h5>$29.99</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<div class="categories__deal__countdown">
						<span>Deal Of The Week</span>
						<h2>Multi-pocket Chest Bag Black</h2>
						<div class="categories__deal__countdown__timer" id="countdown">
							<div class="cd-item">
								<span>3</span>
								<p>Days</p>
							</div>
							<div class="cd-item">
								<span>1</span>
								<p>Hours</p>
							</div>
							<div class="cd-item">
								<span>50</span>
								<p>Minutes</p>
							</div>
							<div class="cd-item">
								<span>18</span>
								<p>Seconds</p>
							</div>
						</div>
						<a href="#" class="primary-btn">Shop now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<!-- Instagram Section Begin -->
	<section class="instagram spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="instagram__pic">
						<div class="instagram__pic__item set-bg"
							data-setbg="img/instagram/instagram-1.jpg"></div>
						<div class="instagram__pic__item set-bg"
							data-setbg="img/instagram/instagram-2.jpg"></div>
						<div class="instagram__pic__item set-bg"
							data-setbg="img/instagram/instagram-3.jpg"></div>
						<div class="instagram__pic__item set-bg"
							data-setbg="img/instagram/instagram-4.jpg"></div>
						<div class="instagram__pic__item set-bg"
							data-setbg="img/instagram/instagram-5.jpg"></div>
						<div class="instagram__pic__item set-bg"
							data-setbg="img/instagram/instagram-6.jpg"></div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="instagram__text">
						<h2>Instagram</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
						<h3>#Male_Fashion</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Instagram Section End -->

	<!-- Latest Blog Section Begin -->
	<section class="latest spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<span>Latest News</span>
						<h2>Fashion New Trends</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic set-bg"
							data-setbg="img/blog/blog-1.jpg"></div>
						<div class="blog__item__text">
							<span><img src="img/icon/calendar.png" alt=""> 16
								February 2020</span>
							<h5>What Curling Irons Are The Best Ones</h5>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic set-bg"
							data-setbg="img/blog/blog-2.jpg"></div>
						<div class="blog__item__text">
							<span><img src="img/icon/calendar.png" alt=""> 21
								February 2020</span>
							<h5>Eternity Bands Do Last Forever</h5>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic set-bg"
							data-setbg="img/blog/blog-3.jpg"></div>
						<div class="blog__item__text">
							<span><img src="img/icon/calendar.png" alt=""> 28
								February 2020</span>
							<h5>The Health Benefits Of Sunglasses</h5>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Latest Blog Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<p>The customer is at the heart of our unique business model,
							which includes design.</p>
						<a href="#"><img src="img/payment.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Clothing Store</a></li>
							<li><a href="#">Trending Shoes</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Sale</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Payment Methods</a></li>
							<li><a href="#">Delivary</a></li>
							<li><a href="#">Return & Exchanges</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>NewLetter</h6>
						<div class="footer__newslatter">
							<p>Be the first to know about new arrivals, look books, sales
								& promos!</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit">
									<span class="icon_mail_alt"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright ©
							<script>
								document.write(new Date().getFullYear());
							</script>
							2020 All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form action="/search" method="POST" class="search-model-form">
				<input name="search-input" type="text" id="search-input"
					placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search End -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	<!-- 	<script>
	function addCart(id) {
		$
				.ajax({
					url : "/addToCart/"+id,
					type : "get",
					success : function(responseData) {
						document.getElementById("content").innerHTML = responseData;
					}
				});
	}
	</script> -->
</body>

</html>